.patinho{
    background-color: black;
    color: blue;
    display: flex;
    padding: 24px 0;
}

.section1{
   background-color: rgb(76, 97, 216);
}

.patinho{
    background-color: black;
padding: 100px;
}
.cabecalho {
    width: 20%;
}
. rodar{
     background-color: brown; 
     padding: 20px;
}

.rodar{
    background-color: blue;
color: black;
}


